.inputField {
   .input {
      padding: 8px 12px;
      border: 1px solid var(--field-line-color);
      border-radius: 6px;
      background: transparent;
      color: var(--content-text-color);
      font-size: 0.75rem;
      width: 200px;
      box-sizing: border-box;
      transition: all 0.2s ease;

      &:focus {
         outline: none;
         border-color: var(--line-active-color);
      }

      &::placeholder {
         color: var(--content-text-color-light);
      }
      &.disabled {
         background-color: var(--line-color);
      }
   }

   &.inputFieldLarge {
      .input {
         padding: 15px;
         font-size: 0.8rem;
      }
   }

   &.inputFieldInline {
      .fieldInner {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         gap: 8px;
      }
      .input {
         width: 50%;
      }
   }

   &.inputFieldFull {
      width: 100%;
      .fieldInner {
         display: flex;
         flex-direction: column;
         gap: 8px;
         align-items: flex-start;
      }
      .input {
         width: 100%;
      }
   }

   &.fieldHasError {
      input {
         border-color: var(--error-bg-color-active);
      }
   }
}

@media only screen and (max-width: 768px) {
   .inputField {
      .input {
         width: 100%;
      }
   }
}
