.devices {
   width: 100%;
}

.deviceItems {
   margin-top: 20px;
}

.devicesGrid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
}

@media only screen and (max-width: 1024px) {
   .deviceItems {
      &.devicesGrid {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

@media only screen and (max-width: 768px) {
   .deviceItems {
      &.devicesGrid {
         grid-template-columns: repeat(1, 1fr);
      }
   }
}
