.app {
   width: 100%;
   display: flex;
   justify-content: center;
   min-height: calc(100vh - 60px);
   padding: 0 20px;
   box-sizing: border-box;
}

.appContainer {
   width: var(--container-width);
   padding-top: 6%;
   display: flex;
}
