.footer {
   width: 100%;
   bottom: 0px;
   padding: 20px 0;
   left: 0;
   right: 0;
   margin: 0 auto;
   text-align: center;
   color: var(--icon-color);
   font-size: 0.9em;
   a {
      color: inherit;
      &:hover {
         color: var(--background-text-color-dark);
      }
   }
   button {
      color: inherit;
      &:hover {
         color: var(--background-text-color);
      }
   }
}
