.loginPage {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: top;
   flex-direction: column;
   padding-top: 10%;
   box-sizing: border-box;
}

.loginLogo {
   h3 {
      display: flex;
      align-items: center;
      color: var(--primary-color);
      font-size: 1.125rem;
      text-transform: uppercase;
      font-weight: 900;
      span:nth-child(1) {
         display: flex;
         color: var(--primary-color);
      }
      span:nth-child(2) {
         margin-left: 5px;
      }
   }
}

.container {
   width: 270px;
   border-radius: 7px;
   background-color: var(--content-background-color);
   padding: 30px 25px;
   box-shadow: 0 0 10px var(--content-shadow-color);
}

.loginForm {
   width: 100%;
   display: flex;
   h4 {
      margin-top: 0;
   }
}
.loginInput {
   margin-bottom: 15px;
   position: relative;
   label {
      display: block;
      color: var(--content-text-color);
      font-size: 0.75rem;
      font-weight: 600;
      margin-bottom: 4px;
   }
   input {
      border: 1px solid;
      border-color: var(--line-color);
      border-radius: 4px;
      padding: 12px;
      padding-left: 36px;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      &:focus {
         outline: none;
         border-color: var(--primary-color);
      }
   }
   .loginInputIcon {
      position: absolute !important;
      left: 12px;
      top: 12px;
      opacity: 0.7;
   }
}

.loginButton {
   background-color: var(--primary-color);
   color: var(--primary-text-color);
   font-size: 0.75rem;
   border-radius: 4px;
   width: 100%;
   box-sizing: border-box;
   padding: 12px;
   font-weight: 600;
}

.loginErrorMsg {
   color: var(--error-text-color);
   background-color: var(--error-bg-color);
   padding: 12px;
   border-radius: 5px;
   margin-top: 15px;
}
