.backupsTable {
   width: 100%;
   border: 1px solid var(--line-color);
   border-radius: 6px;

   .noBackups {
      padding: 50px;
      text-align: center;
   }

   .backupsTableHead {
      font-weight: 600;
      border-bottom: 1px solid var(--line-color);
      color: var(--content-title-color);
      display: flex;
      justify-content: space-between;
      & > div {
         padding: 10px;
         text-align: center;
         min-width: 8%;
         &:nth-child(1) {
            text-align: left;
            width: 25%;
            padding-left: 20px;
            padding-right: 0;
         }
         &:last-child {
            min-width: unset;
            width: 24px;
         }
      }
   }
   .backupsTableContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .backupsTableRow {
         display: flex;
         justify-content: space-between;
         position: relative;
         .editIcon {
            position: absolute;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            cursor: pointer;
            transition: all 0.12s linear;
         }
         .backupTitle {
            cursor: pointer;

            &:hover {
               color: var(--content-text-color);
            }
         }
         .planDescription {
            margin-left: 6px;
            :global(.icon) {
               color: var(--icon-color);
            }
         }
         & > div {
            padding: 15px 10px;
            text-align: center;
            min-width: 8%;
            .activeBackup {
               color: var(--icon-color);
            }
            &:nth-child(1) {
               text-align: left;
               width: 25%;
               padding-left: 20px;
               padding-right: 0;
               // white-space: nowrap;
               // overflow: hidden;
               // text-overflow: ellipsis;

               & > .downloadLabel {
                  padding: 1px 4px;
                  padding-right: 6px;
                  background: #e0eaff;
                  color: #7e90c5;
                  border-radius: 12px;
                  margin-left: 5px;
                  font-size: 0.6875rem;
                  :global(.icon) {
                     top: 2px;
                  }

                  &.downloadLabelFailed {
                     background-color: var(--error-bg-color);
                     color: var(--error-text-color);
                  }
                  &.downloadLabelDone {
                     background-color: var(--primary-color);
                     color: var(--primary-text-color);
                     padding: 0 6px 2px 6px;
                     cursor: pointer;
                  }
               }
            }
            &.snapOptsBtn {
               min-width: unset;
               button {
                  color: var(--icon-color);
               }
            }
         }
         .changes {
            display: flex;
            gap: 7px;
            justify-content: center;
            :global(.icon) {
               top: 1px;
               right: -3px;
            }
            .changesNew {
               color: cornflowerblue;
            }
            .changesModified {
               color: darkseagreen;
            }
            .changesRemoved {
               color: indianred;
            }
         }
         .target {
            max-width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
         }
         .status {
            text-transform: capitalize;
            &.statusHasError > div {
               text-decoration: underline;
               text-decoration-style: dashed;
               cursor: pointer;
            }
         }
         .settings {
            position: absolute;
            z-index: 99;
            top: 35px;
            right: 15px;
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: max-content;
            text-align: left;
            align-items: center;
            background: var(--content-background-color);
            border: 1px solid var(--line-color);
            border-radius: 6px;
            padding: 0;
            min-width: unset;
            button {
               padding: 6px 10px;
               width: 100%;
               text-align: left;
               color: var(--content-text-color-light);
               &:hover {
                  background-color: var(--primary-color-light);
                  color: var(--primary-color);
               }
            }
         }
         &.backupsTableRowActive {
            background-color: var(--background-color);
         }

         &:hover {
            .backupTitle {
               :global(.icon) {
                  opacity: 0;
                  visibility: hidden;
               }
            }
            .editIcon {
               visibility: visible;
               opacity: 1;
            }
         }
      }
   }
}

.updateModalContent {
   .field {
      margin-bottom: 15px;
   }
}

.removeModalContent {
   position: relative;
   .deleteLoader {
      position: absolute;
      z-index: 9;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: var(--content-background-color);
      opacity: 0.7;
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .removeModalActions {
      margin-top: 20px;
      justify-content: right;
      display: flex;
      flex-direction: row;
      gap: 10px;
      button {
         background-color: var(--line-color);
         color: var(--content-text-color);
         padding: 6px 12px;
         border-radius: 4px;
         transition: all 0.12s linear;
         &:nth-child(2) {
            background-color: var(--error-button-color);
            color: var(--error-active-text);
         }
         &:hover {
            filter: brightness(105%);
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .backupsTable {
      overflow: auto;
      max-width: 80vw;
      .backupsTableHead,
      .backupsTableContent {
         width: 760px;
      }
   }
}
