.toggleField {
   &.toggleFieldInline {
      .fieldInner {
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         gap: 12px;
      }
   }
}

.toggleCheckbox {
   display: flex;
   span {
      // width: 250px;
      display: inline-block;
      font-size: 0.75rem;
   }

   input[type='checkbox'] {
      height: 0;
      width: 0;
      margin: 0;
      min-width: 0;
      visibility: hidden;
   }

   label {
      cursor: pointer;
      text-indent: -9999px;
      width: 32px;
      height: 18px;
      background: var(--line-active-color);
      display: inline-block;
      border-radius: 30px;
      position: relative;
   }

   label:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      background: var(--content-background-color);
      border-radius: 30px;
      transition: 0.3s;
   }

   input:checked + label {
      background: linear-gradient(135deg, #8778ff 0%, #526ec7 100%);
   }

   input:checked + label:after {
      left: calc(100% - 3px);
      transform: translateX(-100%);
   }

   label:active:after {
      width: 30px;
   }
}

.description {
   padding-left: 10px;
}
