.plans {
   width: 100%;
}

.planItems {
   margin-top: 20px;

   &.plansGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
   }
}

@media only screen and (max-width: 1024px) {
   .planItems {
      &.plansGrid {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

@media only screen and (max-width: 768px) {
   .planItems {
      &.plansGrid {
         grid-template-columns: repeat(1, 1fr);
      }
   }
}
