.appContentWrap {
   margin-left: 40px;
   margin-bottom: 40px;
   width: 100%;
}

@media only screen and (max-width: 768px) {
   .appContentWrap {
      margin-left: 0;
      padding-bottom: 0;
   }
}
