// MODALS
.loader {
   position: absolute;
   z-index: 9;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: var(--content-background-color);
   opacity: 0.7;
   cursor: default;
   display: flex;
   justify-content: center;
   align-items: center;
}

.error {
   padding: 4px 8px;
   background-color: var(--error-bg-color);
   color: var(--error-text-color);
   margin-top: 10px;
   border-radius: 6px;
}

.success {
   padding: 4px 8px;
   background-color: var(--success-bg-color);
   color: var(--success-text-color);
   margin-top: 10px;
   border-radius: 6px;
}

.actions {
   margin-top: 20px;
   justify-content: right;
   display: flex;
   flex-direction: row;
   gap: 10px;
   button {
      background-color: var(--line-color);
      color: var(--content-text-color);
      padding: 6px 12px;
      border-radius: 4px;
      transition: all 0.12s linear;
      &:nth-child(2) {
         background-color: var(--primary-color);
         color: var(--primary-text-color);
         &:hover {
            background-color: var(--primary-hover-color);
         }
      }

      &.dangerBtn {
         background-color: var(--error-button-color);
         &:hover {
            background-color: var(--error-text-color);
         }
      }
   }
}
