.deviceContent {
   width: 100%;
   position: relative;
   padding: 30px;
   border-radius: 7px;
   box-sizing: border-box;
   background-color: var(--content-background-color);
   color: var(--content-text-color-light);
   box-shadow: 0 0 15px var(--content-shadow-color);
   min-height: 200px;
   margin-top: 20px;
}

.iconBlock {
   width: 40px;
   height: 40px;
   flex: 0 0 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: var(--background-color);
   color: var(--primary-color);
}

.deviceInfo {
   width: 100%;
   &.reloading {
      opacity: 0.6;
      user-select: none;
   }
}

.topComponents {
   display: flex;
   gap: 20px;
   margin-bottom: 30px;

   .widget {
      border: 1px solid var(--line-color);
      padding: 20px;
      border-radius: 6px;
      box-sizing: border-box;
      width: calc(33.33% - 15px);
      .widgetTitle {
         padding: 2px 6px;
         background-color: var(--content-background-color);
         border: 1px solid var(--line-color);
         color: var(--content-title-color);
         border-radius: 4px;
         font-size: 0.6875rem;
         font-weight: 600;
         width: max-content;
         position: relative;
         margin-top: -30px;
         span {
            color: var(--icon-color);
         }
      }
      .widgetContent {
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 15px;
         padding-top: 10px;
      }
      .infoBlock {
         width: 100%;
         display: flex;
         gap: 15px;
         align-items: center;
         .infoBlockRight {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2px;
            color: var(--content-text-color);
            font-weight: 600;
            font-size: 0.625rem;
            span:nth-child(1) {
               font-size: 0.625rem;
               color: var(--icon-color);
            }
            span:nth-child(2) {
               display: block;
               width: 90%;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
            }
         }
      }
   }
}

.additionalMemory {
   color: var(--icon-color);
   background-color: var(--line-color);
   font-style: normal;
   font-size: 0.6rem;
   padding: 2px 6px;
   border-radius: 6px;
   margin-left: 2px;
}

.progressBarWrap {
   display: flex;
   align-items: center;
   gap: 7px;
}
.progressBar {
   width: 100%;
   height: 10px;
   border-radius: 4px;
   margin-top: 3px;
   background-color: var(--line-color);
   display: inline-block;
   .progressBarFill {
      height: 100%;
      border-radius: 4px;
      background-color: turquoise;
      position: relative;
      transition: all 0.2s linear;
      min-width: 12%;
      span {
         font-weight: 600;
         font-size: 0.625rem;
         line-height: 1.1em;
         position: absolute;
         color: #fff !important;
         right: 5px;
      }
   }
}

.component {
   border: 1px solid var(--line-color);
   padding: 20px;
   margin-bottom: 30px;
   border-radius: 6px;
   box-sizing: border-box;
   width: 100%;
   .componentTitle {
      padding: 2px 10px 2px 8px;
      background-color: var(--content-background-color);
      border: 1px solid var(--line-color);
      color: var(--content-title-color);
      border-radius: 4px;
      font-size: 0.6875rem;
      font-weight: 600;
      width: max-content;
      position: relative;
      margin-top: -30px;
      span {
         color: var(--icon-color);
      }
   }
   .contentBlock {
      width: calc(100% - 50px);
   }
   .componentContent {
      width: 100%;
      padding-top: 15px;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px;
      align-items: center;
   }
   .item {
      display: flex;
      gap: 10px;
      border: 1px solid var(--line-color);
      padding: 20px;
      border-radius: 6px;
      box-sizing: border-box;
      font-size: 0.7rem;
      align-items: center;
      position: relative;
      h4 {
         margin: 0;
         color: var(--content-title-color);
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }
      .blockLabel {
         position: absolute;
         top: -8px;
         right: 8px;
      }
   }
}

@media only screen and (max-width: 768px) {
   .topComponents {
      flex-direction: column;
      .widget {
         width: 100%;
         .infoBlock .infoBlockRight {
            width: 190px;
         }
      }
   }
   .component {
      .componentContent {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         .item {
            width: 100%;
         }
      }
   }
}
