.plan {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px;
   margin-bottom: 20px;
   gap: 10px;
   border-radius: 7px;
   background-color: var(--content-background-color);
   color: var(--content-text-color-light);
   box-shadow: 0 0 15px var(--content-shadow-color);
   transition: all 0.2s linear;
   &:hover {
      box-shadow: 0 0 20px var(--content-shadow-color);
   }

   .leftContent {
      flex-basis: 60%;
      display: flex;
      flex-direction: row;
      align-items: center;
   }
   .rightContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-basis: 40%;
      justify-content: right;
      gap: 20px;
   }

   .status {
      display: flex;
      align-items: center;
      margin-right: 10px;
      margin-left: 5px;
      position: relative;
      color: var(--success-label);
      &.paused {
         color: var(--icon-color);
      }
   }

   .statusPaused {
      background-color: #e4e4e4;
      button {
         color: inherit;
      }
   }

   .content {
      display: flex;
      flex-direction: column;
      color: var(--content-text-color-light);
      a {
         color: inherit;
         &:hover {
            color: inherit;
            h4 {
               color: var(--primary-color);
            }
         }
      }
   }

   .title {
      display: flex;
      flex-direction: row;
      h4 {
         margin: 0;
         margin-bottom: 4px;
         color: var(--content-text-color);
         display: flex;
         align-items: center;
      }
      :global(.icon) {
         position: relative;
         top: 2px;
         margin-left: 5px;
         opacity: 0.5;
      }
   }

   .sources {
      font-size: 0.75rem;
      img {
         width: auto;
         max-height: 13px;
         vertical-align: middle;
         margin-right: 3px;
      }
      i {
         font-style: normal;
         background: var(--line-color);
         border-radius: 20px;
         padding: 1px 6px;
         font-size: 0.6875rem;
         margin-left: 5px;
      }
      .sourceCount {
         font-size: 0.8em;
         padding: 1px 7px;
         border-radius: 20px;
         margin-left: 4px;
         background-color: var(--background-color);
      }
   }

   .interval {
      min-width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      :global(.icon) {
         position: relative;
         top: 2px;
         margin-right: 5px;
         opacity: 0.5;
      }
      i {
         text-transform: capitalize;
         font-style: normal;
         margin-left: 5px;
      }
   }

   .time,
   .size {
      min-width: 120px;
      display: flex;
      align-items: center;
      i {
         font-style: normal;
      }
      :global(.icon) {
         position: relative;
         top: 2px;
         margin-right: 5px;
         opacity: 0.5;
      }
   }

   .size {
      min-width: 90px;
   }

   .moreBtn {
      color: var(--content-text-color-light);
      padding: 3px 6px;
      border-radius: 4px;
      &.moreBtnActive {
         background-color: var(--primary-color-light);
         color: var(--primary-color);
      }
   }

   .settings {
      position: absolute;
      z-index: 99;
      top: 45px;
      right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      width: 120px;
      text-align: left;
      align-items: center;
      background: var(--content-background-color);
      border: 1px solid var(--line-color);
      border-radius: 6px;
      button {
         padding: 6px 10px;
         width: 100%;
         text-align: left;
         color: var(--content-text-color-light);
         &:hover {
            background-color: var(--primary-color-light);
            color: var(--primary-color);
         }
      }
   }

   &.planHasError {
      border: 1px solid var(--error-bg-color-active);
      .status {
         color: var(--error-button-color);
      }
   }
}

// MODALS
.removeModalContent {
   position: relative;
   .deleteLoader {
      position: absolute;
      z-index: 9;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: var(--content-background-color);
      opacity: 0.7;
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .removeModalActions {
      margin-top: 20px;
      justify-content: right;
      display: flex;
      flex-direction: row;
      gap: 10px;
      button {
         background-color: var(--line-color);
         color: var(--content-text-color);
         padding: 6px 12px;
         border-radius: 4px;
         transition: all 0.12s linear;
         &:nth-child(2) {
            background-color: var(--error-button-color);
            color: var(--error-active-text);
         }
         &:hover {
            filter: brightness(105%);
         }
      }
   }
}

.planGrid {
   width: 100%;
   flex-direction: column;
   margin: 0;
   align-items: flex-start;
   box-sizing: border-box;
   padding: 0;
   gap: 0;

   .leftContent {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      .status {
         position: absolute;
         right: 0;
         margin-top: -15px;
         transform: scale(0.8);
      }
      .title h4 {
         margin-bottom: 8px;
      }
   }
   .rightContent {
      flex-wrap: wrap;
      justify-content: flex-start;
      row-gap: 0;
      column-gap: 12px;
      border-top: 1px solid var(--line-color);
      padding-top: 10px;
      margin-top: 5px;
      font-size: 0.9em;
      background-color: var(--primary-color-lighter);
      :global([class*='_history_']) {
         width: 100%;
         margin-top: 10px;
         border-top: 1px solid var(--line-color);
         background-color: var(--content-background-color);
         padding: 10px;
         border-radius: 0 0 6px 6px;
      }
      .moreBtn {
         margin-left: auto;
         position: absolute;
         right: 10px;
         bottom: 10px;
      }
      .interval,
      .time,
      .size {
         min-width: unset;
      }
      .size {
         padding-left: 15px;
      }
   }
   .settings {
      bottom: 10px;
      top: auto;
      right: 40px;
   }
}

@media only screen and (max-width: 768px) {
   .plan {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;

      .title {
         margin-bottom: 5px;
      }
      .status {
         position: absolute;
         right: 0;
         margin-top: -15px;
         transform: scale(0.8);
         opacity: 0.7;
      }
      .leftContent {
         width: 100%;
      }
      .rightContent {
         width: 100%;
         gap: 0px;
         padding-top: 10px;
         border-top: 1px solid var(--line-color);
         margin-top: 10px;
         justify-content: flex-start;
         .interval {
            display: none !important;
         }
         :global([class*='_history_']) {
            margin-left: auto;
         }
         .moreBtn {
            margin-left: 0;
         }
      }
   }
}
