.selectField {
   .search {
      border: 1px solid;
      border-color: var(--field-line-color);
      border-radius: 4px 4px 0 0;
      border-bottom: 0;
      position: relative;
      top: -1px;
      color: var(--icon-color);
      span {
         position: absolute;
         margin: 5px;
      }
      button {
         position: absolute;
         right: 0;
         margin: 5px;
         color: var(--icon-color);
         span {
            position: relative;
            margin: 0;
         }
      }
      input {
         padding: 8px 12px;
         padding-left: 24px;
         width: 100%;
         border: none;
         box-sizing: border-box;
         background-color: var(--content-background-color);
         &:focus {
            outline: none;
            background-color: var(--field-line-color);
         }
      }
   }

   .dropdown {
      min-width: 150px;
      width: 50%;
      position: relative;
      margin-top: 0px;

      .selected {
         padding: 8px 10px;
         border: 1px solid;
         background: var(--field-bg);
         border-color: var(--field-line-color);
         border-radius: 6px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         cursor: pointer;
         span {
            user-select: none;
            font-size: 0.75rem;
         }
         img {
            margin-right: 5px;
            max-height: 16px;
            width: auto;
            vertical-align: top;
         }

         .dropBtn {
            background: transparent;
            color: var(--icon-color);
         }
      }

      .lists {
         border: 1px solid var(--line-color);
         margin-top: -1px;
         position: absolute;
         z-index: 9999;
         background: var(--field-bg);
         width: calc(100% - 2px);
         border-radius: 0 0 4px 4px;
         max-height: 210px;
         overflow: auto;
         font-size: 0.75rem;
         ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
               padding: 8px 10px;
               cursor: pointer;

               img {
                  margin-right: 5px;
                  max-height: 16px;
                  width: auto;
                  vertical-align: top;
               }
               :global(.icon) {
                  margin-right: 5px;
                  opacity: 0.7;
               }

               &.disabledItem {
                  opacity: 0.6;
                  user-select: none;
                  cursor: not-allowed;
               }

               &.selectedItem {
                  color: var(--field-bg);
                  background: var(--primary-color);
               }

               &:hover {
                  background: var(--background-color);
                  color: inherit;
               }
            }
         }
      }
      &.dropdownDisabled .selected {
         background-color: var(--line-color);
         cursor: default;
      }
   }

   &.selectFieldFull {
      .dropdown {
         width: 100%;
      }
   }

   &.selectFieldLarge {
      .selected {
         padding: 12px;
      }
   }
   &.selectFieldDisabled {
      .selected {
         background-color: var(--line-color);
      }
   }

   &.fieldHasError {
      .selected {
         border-color: var(--error-bg-color-active);
      }
   }
   &.selectFieldOpen {
      .selected {
         border-radius: 6px 6px 0 0;
      }
   }

   &.selectFieldInline {
      .fieldInner {
         justify-content: space-between;
      }
   }
   &.selectFieldMini {
      margin-top: -3px;
      .dropdown {
         width: auto;
         min-width: unset;
         .selected {
            padding: 2px 4px 2px 8px;
            border-radius: 4px;
            span {
               font-size: 0.7rem;
            }
         }
         .lists {
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 6px;
            font-size: 0.9em;
            margin-top: 4px;
            width: max-content;
            li {
               padding: 6px 10px;
            }
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .selectField {
      .dropdown {
         width: 100%;
      }
   }
}
