.preview {
   width: 100%;
   height: 100vh;
   background-color: var(--modal-bg);
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   .previewWrapper {
      width: 90%;
      max-width: 1200px;
      height: 100vh;
      position: absolute;
      background: var(--content-background-color);
      color: var(--content-text-color);
      border: 1px solid var(--content-shadow-color);
      right: 0;
      top: 0;
      box-sizing: border-box;
      box-shadow: 0 0 20px var(--modal-shadow-color);
      .previewBrowser {
         display: flex;
         flex-direction: column;
         padding: 30px;
         height: calc(100vh - 130px);
         overflow: auto;
         position: relative;
      }
   }
   .previewHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      // border-bottom: 1px solid var(--content-shadow-color);
      h3 {
         font-size: 1rem;
         margin: 0;
      }
      .closePreview {
         background: transparent;
         opacity: 0.5;
         color: var(--content-text-color);
         transition: all 0.2s linear;
         &:hover {
            opacity: 1;
            transform: rotate(90deg);
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .preview {
      .previewWrapper {
         width: 100%;
         .previewBrowser {
            padding: 20px;
            padding-top: 0;
         }
      }
      .previewHeader {
         h3 {
            font-size: 13px;
         }
      }
   }
}
