.device {
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
   padding: 10px;
   margin-bottom: 20px;
   gap: 10px;
   border-radius: 7px;
   background-color: var(--content-background-color);
   color: var(--content-text-color-light);
   box-shadow: 0 0 15px var(--content-shadow-color);
   transition: all 0.2s linear;
   &:hover {
      box-shadow: 0 0 20px var(--content-shadow-color);
   }
}

.leftContent {
   flex-basis: 40%;
   display: flex;
   flex-direction: row;
   align-items: center;
}
.rightContent {
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-basis: 60%;
   justify-content: right;
   gap: 10px;
}

.deviceType {
   display: flex;
   align-items: center;
   margin-right: 10px;
   margin-left: 5px;
   position: relative;
   color: var(--icon-color);
   .deviceOS {
      position: absolute;
      bottom: 13px;
      left: 10px;
   }
   .connectionStatus {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--line-active-color);
      position: absolute;
      top: 3px;
      right: 0px;
      z-index: 9;

      &.connected {
         background-color: turquoise;
      }
   }
}

.content {
   display: flex;
   flex-direction: column;
   color: var(--content-text-color-light);
   a {
      color: inherit;
      &:hover {
         color: inherit;
         h4 {
            color: var(--primary-color);
         }
      }
   }
}

.title {
   display: flex;
   flex-direction: row;

   .mainLabel {
      line-height: 0.9rem;
   }
   h4 {
      margin: 0;
      margin-bottom: 2px;
      color: var(--content-text-color);
      display: flex;
      align-items: center;
   }
   :global(.icon) {
      position: relative;
      top: 2px;
      margin-left: 5px;
      opacity: 0.5;
   }
}

.type {
   text-transform: capitalize;
}

.version {
   margin-right: 30px;
   display: flex;
   align-items: center;
   :global(.icon) {
      position: relative;
      top: 2px;
      margin-right: 5px;
      opacity: 0.5;
   }
   i {
      font-style: normal;
   }
   b {
      margin-left: 3px;
      color: #06ba9f;
   }
   &.versionUpdate {
      cursor: pointer;
      &:hover {
         color: var(--primary-color);
      }
   }
}

.moreBtn {
   color: var(--content-text-color-light);
   padding: 3px 6px;
   border-radius: 4px;
   &.moreBtnActive {
      background-color: var(--primary-color-light);
      color: var(--primary-color);
   }
}

.settings {
   position: absolute;
   z-index: 99;
   top: 45px;
   right: 15px;
   display: flex;
   flex-direction: column;
   justify-content: left;
   width: 120px;
   text-align: left;
   align-items: center;
   background: var(--content-background-color);
   border: 1px solid var(--line-color);
   border-radius: 6px;
   button {
      padding: 6px 10px;
      width: 100%;
      text-align: left;
      color: var(--content-text-color-light);
      &:hover {
         background-color: var(--primary-color-light);
         color: var(--primary-color);
      }
   }
}

.deviceGrid {
   width: 100%;
   margin: 0;
   flex-direction: column;
   align-items: baseline;
   padding: 0;
   padding-bottom: 12px;
   .leftContent {
      padding: 12px;
      width: 100%;
      box-sizing: border-box;
   }
   .rightContent {
      width: 100%;
      flex-basis: unset;
      justify-content: flex-start;
      padding: 6px 10px;
      box-sizing: border-box;
      background: var(--primary-color-lighter);
      .moreBtn {
         margin-left: auto;
      }
   }
   .settings {
      bottom: 10px;
      top: auto;
      right: 40px;
   }
}

@media only screen and (max-width: 768px) {
   .device {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

      .rightContent {
         width: 100%;
         justify-content: flex-start;
         border-top: 1px solid var(--line-color);
         padding-top: 10px;
         margin-top: 10px;
         gap: 0;
         button.moreBtn {
            margin-left: auto;
         }
      }

      .settings {
         right: 35px;
      }
   }
}
