.devicePlans {
   display: flex;
   gap: 20px;
   margin-bottom: 30px;

   .widget {
      border: 1px solid var(--line-color);
      padding: 20px;
      border-radius: 6px;
      box-sizing: border-box;
      width: calc(33.33% - 15px);
      .widgetTitle {
         padding: 2px 6px;
         background-color: var(--content-background-color);
         border: 1px solid var(--line-color);
         color: var(--content-title-color);
         border-radius: 4px;
         font-size: 0.6875rem;
         font-weight: 600;
         width: max-content;
         position: relative;
         margin-top: -30px;
         span {
            color: var(--icon-color);
         }
      }
      .widgetContent {
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 20px;
         padding-top: 20px;
         padding-bottom: 10px;

         .noData {
            width: 100%;
            text-align: center;
            font-size: 0.9em;
            padding-top: 20px;
         }
      }
   }

   .plans,
   .storages {
      width: 40%;
      .planItem {
         display: flex;
         .status {
            display: flex;
            align-items: center;
            margin-right: 10px;
            position: relative;
            color: var(--success-label);
            &.paused {
               color: var(--icon-color);
            }
            .iconBlock {
               width: 40px;
               height: 40px;
               flex: 0 0 40px;
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 50%;
               background-color: var(--background-color);
            }
         }
         .planContent {
            display: flex;
            flex-direction: column;
            font-size: 0.9em;
            h4 {
               margin: 0;
               margin-bottom: 4px;
               color: var(--content-title-color);
               a {
                  color: inherit;
                  &:hover {
                     color: var(--primary-color);
                  }
               }
            }
            .planStats {
               display: flex;
               flex-direction: row;
               gap: 10px;
            }
         }
      }
   }

   .paths {
      .pathItem {
         display: flex;
         flex-direction: column;
         font-size: 0.9em;
         .pathPlanTitle {
            color: var(--content-title-color);
            margin-bottom: 4px;
            :global(.icon) {
               color: var(--icon-color);
            }
            a {
               color: inherit;
               &:hover {
                  color: var(--primary-color);
               }
            }
         }
         .planPaths {
            display: flex;
            flex-direction: column;
            gap: 3px;
            padding-left: 20px;
         }
      }
   }

   .storages {
      width: 25%;
      .planItem {
         .iconBlock {
            img {
               max-width: 16px;
               height: auto;
            }
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .devicePlans {
      flex-direction: column;
      .plans,
      .storages,
      .widget {
         width: 100%;
      }
   }
}
