.modal {
   position: fixed;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   z-index: 99999999;
   background: var(--modal-shadow-color-light);
   opacity: 0;
   overflow: auto;
   transition: opacity 0.3s ease-out;

   .modalContent {
      position: absolute;
      width: 70%;
      background: var(--content-background-color);
      color: var(--content-text-color);
      border-radius: 8px;
      border: 1px solid var(--content-shadow-color);
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 20%;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0 0 20px var(--modal-shadow-color);
      word-break: break-word;
      transform: translateY(-30px);
      opacity: 0;
      transition:
         transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
         opacity 0.3s ease-out;

      &.active {
         transform: translateY(0);
         opacity: 1;
      }

      h3 {
         margin-top: 0;
         color: var(--content-text-color);
      }
   }

   .modalClose {
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
      background: transparent;
      opacity: 0.5;
      color: var(--content-text-color);
      transition: all 0.2s linear;
      &:hover {
         opacity: 1;
         transform: rotate(90deg);
      }
   }

   &.active {
      opacity: 1;
   }

   &.autoVertical {
      .modalContent {
         top: 50%;
         transform: translateY(-50%);
         transition: none;
         &.active {
            transform: translateY(-50%);
            opacity: 1;
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .modal .modalContent {
      max-width: 90%;
   }
}
