.history {
   position: relative;
   display: flex;
   flex-direction: row;
   height: 20px;
   gap: 5px;
   & > div {
      width: 5px;
      border-radius: 3px;
   }

   &.historyFull {
      flex-wrap: wrap;
      height: 50px;
      padding-top: 10px;
   }
}

.historyItemEmpty {
   background-color: var(--line-color);
}
.historyItemSuccess {
   background-color: var(--success-label);
}
.historyItemFailed {
   background-color: #e88b84;
}
.historyItemCancelled {
   background-color: #aaa;
}
.historyItemPending {
   background-color: #e8e184;
}

@media only screen and (max-width: 768px) {
   .history.historyFull {
      height: 160px;
      gap: 8px;
      & > div {
         width: 20px;
         border-radius: 2px;
      }
   }
}
