.radioIconField {
   width: 100%;
   position: relative;
   .fieldLabel {
      font-weight: 600;
   }
}

.radioIconFieldOptions {
   display: flex;
   gap: 12px;
   width: 100%;
   &.radioIconFieldList {
      flex-direction: column;
   }
}

.radioIconFieldIcon {
   color: var(--icon-color);
}

.radioIconFieldContent {
   margin-top: 6px;
   h4 {
      margin: 0;
      font-weight: 600;
   }
}

.radioIconFieldOptionsDisabled {
   .radioIconFieldOption {
      opacity: 0.7;
      cursor: not-allowed;
      user-select: none;
   }
}

.radioIconFieldOption {
   display: flex;
   flex-direction: column;
   flex: 1 1 0px;
   align-items: center;
   text-align: center;
   border: 1px solid var(--field-line-color);
   padding: 15px;
   padding-right: 25px;
   border-radius: 6px;
   cursor: pointer;
   font-size: 0.75rem;
   position: relative;

   :global(.checkMark) {
      color: var(--primary-color);
      position: absolute;
      top: 5px;
      right: 5px;
   }

   &.radioIconFieldActive {
      background-color: var(--background-color);
      border-color: var(--primary-color);
   }
   &.radioIconFieldDisabled {
      opacity: 0.7;
      cursor: not-allowed;
      user-select: none;
   }
}

.radioIconFieldOptionsDesc {
   display: flex;
   gap: 12px;

   .radioIconFieldOption {
      flex-direction: row;
      text-align: left;
      gap: 15px;

      .radioIconFieldContent {
         h4 {
            margin-bottom: 5px;
            font-weight: 600;
         }
         p {
            margin: 0;
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .radioIconFieldOptions {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      .radioIconFieldOption {
         width: 100%;
         box-sizing: border-box;
         align-items: flex-start;
         flex-direction: row;
         gap: 10px;
      }
   }
}
