.restoreWizard {
   width: 100%;
   height: 100vh;
   background-color: var(--modal-bg);
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999;
   display: flex;
   align-items: flex-start;
   justify-content: center;
}

.content {
   width: 90%;
   max-width: 800px;
   position: absolute;
   background: var(--content-background-color);
   color: var(--content-text-color);
   border: 1px solid var(--content-shadow-color);
   right: 0;
   top: 0;
   box-sizing: border-box;
   box-shadow: 0 0 20px var(--modal-shadow-color);
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   border-bottom: 1px solid var(--content-shadow-color);
   h3 {
      font-size: 1rem;
      margin: 0;
   }
   .close {
      background: transparent;
      opacity: 0.5;
      color: var(--content-text-color);
      transition: all 0.2s linear;
      &:hover {
         opacity: 1;
         transform: rotate(90deg);
      }
   }
}

.steps {
   width: 100%;
   padding: 10px 15px;
   padding-bottom: 5px;
   box-sizing: border-box;
   border-bottom: 1px solid var(--content-shadow-color);
   background: var(--background-color);
   ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: relative;
      display: flex;
      justify-content: space-between;
      &:before {
         content: '';
         position: absolute;
         width: calc(100% - 60px);
         height: 2px;
         background-color: var(--content-shadow-color);
         z-index: 0;
         top: 12px;
         left: 25px;
      }
      li {
         padding: 3px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         i {
            font-style: normal;
            font-size: 0.75rem;
            margin-top: 5px;
            color: var(--content-text-color-light);
         }
         & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            font-size: 0.75rem;
            border-radius: 50%;
            background-color: var(--content-shadow-color);
            text-align: center;
            box-sizing: border-box;
         }
         &.stepCurrent {
            & > span {
               background-color: var(--primary-color);
               color: var(--primary-text-color);
            }
            i {
               color: var(--primary-color);
               font-weight: 600;
            }
         }
         &.stepPassed {
            & > span {
               background-color: var(--primary-color);
            }
         }
      }
   }
}

.stepContent {
   .step {
      display: flex;
      flex-direction: column;
      padding: 30px;
      height: calc(100vh - 265px);
      overflow: auto;
      position: relative;
      .settingBlock {
         margin-block-end: 2em;
         position: relative;

         .label {
            font-weight: 600;
            display: block;
            margin-bottom: 8px;
            font-size: 0.75rem;
         }

         .fileManagerBtn {
            position: absolute;
            right: 0;
            top: 22px;
            padding: 10px;
            cursor: pointer;
            color: var(--icon-color);
            &:hover {
               color: var(--primary-color);
            }
         }

         &.settingBlockError {
            input {
               border-color: var(--error-button-color);
            }
         }
      }
      .restoreSuccessMsg {
         button {
            font-size: inherit;
            background: var(--background-color);
            color: var(--primary-color);
            border-radius: 3px;
         }
      }
   }
}

.preview {
   width: 100%;
   border: 1px solid var(--line-color);
   background-color: var(--modal-bg);
   height: calc(100vh - 270px);
   border-radius: 6px;
   box-sizing: border-box;
   position: relative;
   .previewError {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background-color: var(--error-bg-color);
      color: var(--error-text-color);
   }
   .previewButton {
      border-radius: 6px;
      font-size: 0.75rem;
      padding: 8px 15px;
      cursor: pointer;
      font-weight: 600;
      color: var(--primary-text-color);
      background-color: var(--primary-color);
   }
   &.previewEmpty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.restoreConfirm {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 70%;
   .restoreButton {
      border-radius: 6px;
      font-size: 0.75rem;
      padding: 8px 15px;
      cursor: pointer;
      font-weight: 600;
      color: var(--primary-text-color);
      background-color: var(--primary-color);
   }
}

.restoreError {
   position: absolute;
   top: 20px;
   left: 20px;
   width: calc(100% - 40px);
   padding: 10px;
   box-sizing: border-box;
   border-radius: 6px;
   background-color: var(--error-bg-color);
   color: var(--error-text-color);
}

.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px;
   padding-left: 30px;
   border-top: 1px solid var(--content-shadow-color);
   gap: 10px;
   .backButton {
      color: var(--content-text-color-light);
      &:hover {
         color: var(--content-text-color);
      }
   }
   .footerRight {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
         border-radius: 6px;
         font-size: 0.75rem;
         padding: 12px 20px;
         cursor: pointer;
         background-color: var(--line-color);
         color: var(--content-text-color);
      }
      button:nth-child(2) {
         color: var(--primary-text-color);
         background-color: var(--primary-color);
      }
   }
}

.restoreDisabled {
   cursor: not-allowed !important;
   opacity: 0.6;
   user-select: none;
}

.loader {
   position: absolute;
   z-index: 9;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: var(--content-background-color);
   opacity: 0.7;
   cursor: default;
   display: flex;
   justify-content: center;
   align-items: center;
}

.pathPickerModal {
   position: fixed;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   z-index: 99999999;
   background: var(--modal-shadow-color-light);
   .pathPickerModalInner {
      position: absolute;
      width: 70%;
      max-width: 1000px;
      background: var(--content-background-color);
      color: var(--content-text-color);
      border-radius: 8px;
      border: 1px solid var(--content-shadow-color);
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 10%;
      box-sizing: border-box;
      box-shadow: 0 0 20px var(--modal-shadow-color);
      .pathPickerHeader {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px 15px;
         border-bottom: 1px solid var(--line-color);
         h4 {
            margin: 0;
         }
         button {
            padding: 10px;
            cursor: pointer;
            background: transparent;
            opacity: 0.5;
            color: var(--content-text-color);
            transition: all 0.2s linear;
            &:hover {
               opacity: 1;
               transform: rotate(90deg);
            }
         }
      }
      .pathPickerFooter {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px 15px;
         border-top: 1px solid var(--line-color);
         button {
            background-color: var(--primary-color);
            color: var(--primary-text-color);
            padding: 10px 12px;
            cursor: pointer;
            border-radius: 6px;
         }
      }
      .pathPickerContent {
         padding: 20px;
         max-height: 500px;
         overflow: auto;
      }
   }
}

.checkboxSettings {
   .checkboxSettingsOpts {
      border: 1px solid var(--line-color);
      border-radius: 6px;
      .checkboxOption {
         display: flex;
         align-items: center;
         gap: 10px;
         padding: 12px;
         cursor: pointer;
         border-bottom: 1px solid var(--line-color);
         h5 {
            font-size: 0.75rem;
            font-weight: 600;
            margin: 0 0 5px 0;
         }
         span {
            color: var(--icon-color);
         }
         &.checkboxOptionActive {
            h5 {
               color: var(--primary-color);
            }
            span {
               color: var(--primary-color);
            }
         }
         &:last-child {
            border-bottom: none;
         }
      }
   }
}
@media only screen and (max-width: 768px) {
   .restoreWizard {
      .content {
         width: 100%;
         & > :global([class*='_header_']) {
            flex-direction: row;
         }
      }
   }
}
